<div class="flex align-items-center justify-content-start flex-shrink-0">
    <h2 *ngIf="usuari">Benvingut, {{usuari.nom}}!</h2>
    <h3>Dashboard</h3>
</div>
<div class="estadistiques pt-1 pb-1 px-1">
    <div class="flex flex-row justify-content-start">
        <p-card class="mr-5">
            <div class="flex flex-row justify-content-between">
                <div class="flex flex-column justify-content-start mr-5">
                    <h4>Ventes totals</h4>
                    <p >{{ventesTotals}}€</p>
                </div>
                <div class="flex justify-content-end ml-5 align-items-center">
                    <i class="pi pi-money-bill mr-2 valor"></i>
                </div>
            </div>
        </p-card>
        <p-card class="mr-5">
            <div class="flex flex-row justify-content-between">
                <div class="flex flex-column justify-content-start mr-6">
                    <h4>Gimnasos</h4>
                    <p >{{gimnasosTotals}}</p>
                </div>
                <div class="flex justify-content-end ml-6 align-items-center">
                    <i class="pi pi-bolt mr-2 valor"></i>
                </div>
            </div>
        </p-card>
        <p-card class="mr-5">
            <div class="flex flex-row justify-content-between">
                <div class="flex flex-column justify-content-start mr-6">
                    <h4>Propietaris</h4>
                    <p >{{propietarisTotals}}</p>
                </div>
                <div class="flex justify-content-end ml-6 align-items-center">
                    <i class="pi pi-user mr-2 valor"></i>
                </div>
            </div>
        </p-card>
        <p-card class="mr-5">
            <div class="flex flex-row justify-content-between">
                <div class="flex flex-column justify-content-start mr-6">
                    <h4>Avui és: </h4>
                    <p>{{dataActual | date:"dd/MM/yyyy"}}</p>
                </div>
                <div class="flex justify-content-end ml-6 align-items-center">
                    <i class="pi pi-calendar mr-2 valor"></i>
                </div>
            </div>
        </p-card>
    </div>
</div>