.sidebar {
    background-color: white;
    padding-right: 50px;
    border-right-style: solid;
    border-right-color: var(--background-color);
    border-right-width: 1px;
}

i {
    color: var(--primary-color);
}