.sidebar {
    background-color: white;
    border-right-style: solid;
    border-right-color: var(--background-color);
    border-right-width: 1px;
    padding-right: 20px;
    height: 100%;
    width: 250px; /* Defineix una amplada fixa per a la barra lateral */
    overflow-y: auto; /* Afegit overflow-y per a la barra de desplaçament vertical si cal */
}

i {
    color: var(--primary-color);
}