<div class="flex align-items-center justify-content-start flex-shrink-0">
    <h2>Administrar Usuaris</h2>
    <h3>Llista d'usuaris</h3>
</div>
<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nou Usuari" icon="pi pi-plus" class="p-button-success mr-2" (click)="crearUsuari()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="exportToExcel()"></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="usuaris"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['nom','nomUsuari','rol']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        [exportHeader]="'customExportHeader'"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestiona usuaris</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Busca..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nom" style="min-width:15rem">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="nomUsuari" style="min-width:10rem">Nom Usuari <p-sortIcon field="nomUsuari"></p-sortIcon></th>
                <th pSortableColumn="email" style="min-width:15rem">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="rol" style="min-width:10rem">Rol <p-sortIcon field="rol"></p-sortIcon></th>
                <th>Actiu</th>
                <th pSortableColumn="Creat" style="min-width:10rem">Creat <p-sortIcon field="creat"></p-sortIcon></th>
                <th pSortableColumn="Modificat" style="min-width:10rem">Modificat <p-sortIcon field="modificat"></p-sortIcon></th>
                <th style="min-width:10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuari>
            <tr>
                <td>{{ usuari.nom }}</td>
                <td>{{ usuari.nomUsuari }}</td>
                <td>{{ usuari.email }}</td>
                <td>{{ getRol(usuari.rols) }}</td>
                <td>
                    <p-tag [value]="usuari.actiu" [severity]="usuari.actiu === true ? 'success' : 'danger'"></p-tag>
                </td>
                <td>{{ usuari.dataCreacio }}</td>
                <td>{{ usuari.dataModificacio }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarUsuari(usuari)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarUsuari(usuari)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">S'han trobat {{ usuaris ? usuaris.length : 0 }} usuaris.</div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="usuariDialog" [style]="{ width: '450px' }" header="Detalls de l'usuari" [modal]="true" styleClass="p-fluid">
    
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>