<div class="flex align-items-center justify-content-start flex-shrink-0">
    <h2>Administrar Visites</h2>
    <h3>Llista de visites</h3>
</div>
<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nova Visita" icon="pi pi-plus" class="mr-2" (click)="crearVisita()"></button>
            <button pButton pRipple label="Nova Visita Regular" icon="pi pi-plus" class="mr-2 p-button-help" (click)="crearVisitaRegular()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Exportar Taula" icon="pi pi-upload" class="mr-2" (click)="exportToExcel()"></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="visites"
        [rows]="5"
        [paginator]="true"
        [globalFilterFields]="['membre.nom','gimnas.nom','dataVisita','abonat']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        [exportHeader]="'customExportHeader'"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestiona les visites</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Busca..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="membre">Membre <p-sortIcon field="membre"></p-sortIcon></th>
                <th pSortableColumn="gimnas">Gimnàs <p-sortIcon field="gimnas"></p-sortIcon></th>
                <th pSortableColumn="dataVisita">Data Visita <p-sortIcon field="dataVisita"></p-sortIcon></th>
                <th pSortableColumn="abonat">Abonat <p-sortIcon field="abonat"></p-sortIcon></th>
                <th style="min-width:9rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-visita>
            <tr>
                <td>{{ visita.membreGimnas?.nom || 'Visita regular' }}</td>
                <td>{{ visita.gimnas.nom }}</td>
                <td>{{ visita.dataVisita | date:"dd/MM/yyyy HH:mm" }}</td>
                <td>
                    <p-tag [value]="visita.abonat" [severity]="visita.abonat === true ? 'success' : 'danger'"></p-tag>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning" (click)="veureVisita(visita)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">S'han trobat {{ visites ? visites.length : 0 }} visites</div>
        </ng-template>
    </p-table>
</div>

<p-dialog *ngIf="crearVisitaDialog" [(visible)]="crearVisitaDialog" [style]="{ width: '600px' }" header="Crear una nova Visita" [modal]="true" styleClass="p-fluid">
    <app-form-crear-visita (successfullyCreated)="visitaCreada($event)"></app-form-crear-visita>
</p-dialog>

<p-dialog *ngIf="crearVisitaRegularDialog" [(visible)]="crearVisitaRegularDialog" [style]="{ width: '450px' }" header="Crear una nova Visita Regular" [modal]="true" styleClass="p-fluid">
    <app-form-crear-visita-regular (successfullyCreated)="visitaRegularCreada($event)"></app-form-crear-visita-regular>
</p-dialog>