<div class="flex align-items-center justify-content-start flex-shrink-0">
    <p-toast></p-toast>
    <h2>Missatgeria</h2>
    <h3>Envia correus electrònics</h3>
</div>
<div>
    <p-card header="Utilitzi la missatgeria per a notificar clients sobre promocions, avisos, etc." [style]="{'width':'50%'}"></p-card>
    <p-card [style]="{'width':'50%'}">
        <div class="contingut">
            <app-form-missatge [membres]="membres" [usuari]="usuari" (successfullyCreated)="enviarCorreu($event)"></app-form-missatge>
        </div>
    </p-card>
</div>