<div class="flex align-items-center justify-content-start flex-shrink-0">
    <h2>Administrar Gimnasos</h2>
    <h3>Llista de gimnasos</h3>
</div>
<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nou Gimnàs" icon="pi pi-plus" class="mr-2" (click)="crearGimnas()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Exportar Taula" icon="pi pi-upload" class="mr-2" (click)="exportToExcel()"></button>
        </ng-template>
    </p-toolbar> 

    <p-table
        #dt
        [value]="gimnasos"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['nom','adreca','email','telefon','propietari','creador','dataCreacio','dataModificacio']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrant {first} de {last} dels {totalRecords} totals"
        [showCurrentPageReport]="true" 
        [exportHeader]="'customExportHeader'"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestiona gimnasos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Busca..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nom" style="min-width:6rem">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="adreca" style="min-width:8rem">Adreça <p-sortIcon field="adreca"></p-sortIcon></th>
                <th pSortableColumn="email" style="min-width:8rem">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="telefon" style="min-width:8rem">Telefon <p-sortIcon field="telefon"></p-sortIcon></th>
                <th pSortableColumn="propietari" style="min-width:5rem">Propietari <p-sortIcon field="propietari"></p-sortIcon></th>
                <th pSortableColumn="creador" style="min-width:5rem">Creat per <p-sortIcon field="creador"></p-sortIcon></th>
                <th pSortableColumn="dataCreacio">Creat <p-sortIcon field="dataCreacio"></p-sortIcon></th>
                <th pSortableColumn="dataModificacio">Modificat <p-sortIcon field="dataModificacio"></p-sortIcon></th>
                <th style="min-width:9rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-gimnas>
            <tr>
                <td>{{ gimnas.nom }}</td>
                <td>{{ gimnas.adreca }}</td>
                <td>{{ gimnas.email }}</td>
                <td>{{ gimnas.telefon }}</td>
                <td>{{ gimnas.propietari.nom }}</td>
                <td>{{ gimnas.creador.nom }}</td>
                <td>{{ gimnas.dataCreacio | date:"dd/MM/yyyy HH:mm" }}</td>
                <td>{{ gimnas.dataModificacio | date:"dd/MM/yyyy HH:mm" }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help mr-2" (click)="editarGimnas(gimnas)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarGimnas(gimnas)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">S'han trobat {{ gimnasos ? gimnasos.length : 0 }} gimnasos</div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="crearGimnasDialog" [style]="{ width: '450px' }" header="Crear un nou Gimnàs" [modal]="true" styleClass="p-fluid">
    <app-form-gimnas [mode]="'crear'" (successfullyCreated)="gimnasCreat($event)"></app-form-gimnas>
</p-dialog>

<p-dialog [(visible)]="editarGimnasDialog" [style]="{ width: '450px' }" header="Detalls del Gimnàs" [modal]="true" styleClass="p-fluid">
    <app-form-gimnas [mode]="'editar'" [gimnas]="gimnas" (successfullyEdited)="gimnasEditat($event)"></app-form-gimnas>
</p-dialog>

<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
                <i class="pi pi-exclamation-triangle text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Cancel·la" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
                <button pButton label="Elimina" (click)="cd.accept()" class="w-8rem"></button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>