.container {
    display: flex;
  }
  
  .sidebar {
    flex: 0 0 auto; /* La barra lateral no es redimensionarà */
  }
  
  .main-content {
    flex: 1; /* El contingut principal s'estendrà per omplir l'espai disponible */
    margin-top: 8px;
    margin-left: 350px; /* Ajusta l'espai al voltant del contingut principal */
    margin-right: 50px;
  }