.container {
  display: flex;
  height: 100%;
}

.main-content {
  flex: 1; /* El contingut principal s'estendrà per omplir l'espai disponible */
  margin-top: 1rem;
  margin-left: 50px;
  margin-right: 80px;
  margin-bottom: 80px;
  overflow-y: auto;
}