<form *ngIf="mode === 'editar'" [formGroup]="usuariForm" (ngSubmit)="guardarUsuari()">
    <div class="field">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" pInputText formControlName="email"/>
    </div>
    <div class="field">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" id="nom" pInputText formControlName="nom"/>
    </div>
    <div class="field">
        <label for="estat" class="form-label">Estat</label>
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-radioButton name="actiu" [value]="true" formControlName="actiu" inputId="estat1"></p-radioButton>
                <label for="estat1" class="ml-2">Actiu</label>
            </div>
            
            <div class="flex align-items-center">
                <p-radioButton name="actiu" [value]="false" formControlName="actiu" inputId="estat2"></p-radioButton>
                <label for="estat2" class="ml-2">Inactiu</label>
            </div>
        </div>
    </div>
    <div class="p-col-12">
        <button pButton type="submit" label="Guardar" [disabled]="!usuariForm.valid"></button>
    </div>
</form>

<form *ngIf="mode === 'crear'" [formGroup]="usuariForm" (ngSubmit)="crearUsuari()">
    <div class="field">
        <label for="nomUsuari" class="form-label">Nom Usuari</label>
        <input type="text" pInputText id="nomUsuari" formControlName="nomUsuari"/>
    </div>
    <div class="field">
        <label for="password" class="form-label">Contrasenya</label>
        <input type="password" id="password" pInputText formControlName="password"/>
    </div>
    <div class="field">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" id="nom" pInputText formControlName="nom"/>
    </div>
    <div class="field">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" pInputText formControlName="email"/>
    </div>
    <div class="field">
        <label for="rols" class="form-label">Rol</label>
        <p-dropdown [options]="rols" formControlName="rols" placeholder="Escull el rol" appendTo="body"></p-dropdown>
    </div>
    <div *ngIf="esRolGYMADMIN()">
        <div class="field">
            <label for="telefon" class="form-label">Telèfon</label>
            <input type="tel" id="telefon" pInputText formControlName="telefon" pattern="[0-9]{9}"/>
        </div>
        <div class="field">
            <label for="adreca" class="form-label">Adreça</label>
            <input type="text" id="adreca" pInputText formControlName="adreca"/>
        </div>
        <div class="field">
            <label for="dataNaixement" class="form-label">Data de Naixement</label>
            <p-calendar formControlName="dataNaixement" [showIcon]="true" [showTime]="true" inputId="dataNaixement" appendTo="body"></p-calendar>
        </div>
        <div class="field">
            <label for="genere" class="form-label">Gènere</label>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton name="genere" value="M" formControlName="genere" inputId="masculi"></p-radioButton>
                    <label for="maculi" class="ml-2">M</label>
                </div>
                
                <div class="flex align-items-center">
                    <p-radioButton name="genere" value="F" formControlName="genere" inputId="femeni"></p-radioButton>
                    <label for="femeni" class="ml-2">F</label>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="tipus" class="form-label">Propietari de cadena o gimnàs individual?</label>
            <p-dropdown formControlName="tipus" [options]="tipusPropietari" placeholder="Seleccioni un tipus" appendTo="body"></p-dropdown>
        </div>
    </div>
    <div *ngIf="esRolSTAFF()">
        <div class="field">
            <label for="gimnas" class="form-label">S'encarregarà del gimnàs:</label>
            <p-dropdown formControlName="gimnas" [options]="gimnasos" placeholder="Seleccioni un gimnàs" optionLabel="nom" appendTo="body"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12">
        <button pButton type="submit" label="Guardar" [disabled]="!usuariForm.valid || (esRolGYMADMIN() && (!usuariForm.get('telefon')?.value || !usuariForm.get('adreca')?.value || !usuariForm.get('dataNaixement')?.value || !usuariForm.get('genere')?.value || !usuariForm.get('tipus')?.value))"></button>
    </div>
</form>