<div class="flex align-items-center justify-content-start flex-shrink-0">
    <h2>Administrar Tipus de Llicència</h2>
    <h3>Llista de tipus de llicència</h3>
</div>
<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nou Tipus" icon="pi pi-plus" class="p-button-success mr-2" (click)="crearTipusLlicencia()"></button>
            <button pButton pRipple label="Llicències" icon="pi pi-verified" class="p-button-warning mr-2" (click)="llicencies()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Exportar Taula" icon="pi pi-upload" class="mr-2" (click)="exportToExcel()"></button>
        </ng-template>
    </p-toolbar> 

    <p-table
        #dt
        [value]="tipusLlicencia"
        [rows]="5"
        [paginator]="true"
        [globalFilterFields]="['nom','preu','durada','mesos','creador','dataCreacio','dataModificacio']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrant {first} de {last} dels {totalRecords} totals"
        [showCurrentPageReport]="true" 
        [exportHeader]="'customExportHeader'"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestiona els tipus de llicència</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Busca..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nom" style="min-width:6rem">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="preu" style="min-width:8rem">Preu <p-sortIcon field="preu"></p-sortIcon></th>
                <th pSortableColumn="durada">Durada <p-sortIcon field="durada"></p-sortIcon></th>
                <th pSortableColumn="mesos">Mesos <p-sortIcon field="mesos"></p-sortIcon></th>
                <th pSortableColumn="tipus">Tipus <p-sortIcon field="tipus"></p-sortIcon></th>
                <th pSortableColumn="creador" style="min-width:5rem">Creat per <p-sortIcon field="creador"></p-sortIcon></th>
                <th pSortableColumn="dataCreacio">Creat <p-sortIcon field="dataCreacio"></p-sortIcon></th>
                <th pSortableColumn="dataModificacio">Modificat <p-sortIcon field="dataModificacio"></p-sortIcon></th>
                <th style="min-width:9rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tipusLlicencia>
            <tr>
                <td>{{ tipusLlicencia.nom }}</td>
                <td>{{ tipusLlicencia.preu | currency: 'EUR' }}</td>
                <td>{{ tipusLlicencia.durada }}</td>
                <td>{{ tipusLlicencia.mesos }}</td>
                <td>{{ tipusLlicencia.tipus }}</td>
                <td>{{ tipusLlicencia.creador.nom }}</td>
                <td>{{ tipusLlicencia.dataCreacio | date:"dd/MM/yyyy HH:mm" }}</td>
                <td>{{ tipusLlicencia.dataModificacio | date:"dd/MM/yyyy HH:mm" }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help mr-2" (click)="editarTipusLlicencia(tipusLlicencia)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarTipusLlicencia(tipusLlicencia)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">S'han trobat {{ tipusLlicencia ? tipusLlicencia.length : 0 }} tipus de llicència</div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="crearTipusLlicenciaDialog" [style]="{ width: '450px' }" header="Crear un nou tipus de llicència" [modal]="true" styleClass="p-fluid">
    <app-form-tipus-llicencia [mode]="'crear'" (successfullyCreated)="tipusLlicenciaCreat($event)"></app-form-tipus-llicencia>
</p-dialog>

<p-dialog [(visible)]="editarTipusLlicenciaDialog" [style]="{ width: '450px' }" header="Editar un tipus de llicència" [modal]="true" styleClass="p-fluid">
    <app-form-tipus-llicencia [tipusLlicencia]="tipusLlicencia1" [mode]="'editar'" (successfullyEdited)="tipusLlicenciaEditat($event)"></app-form-tipus-llicencia>
</p-dialog>

<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
                <i class="pi pi-exclamation-triangle text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Cancel·la" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
                <button pButton label="Elimina" (click)="cd.accept()" class="w-8rem"></button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>